.git/*
env/
venv/
.venv
.venv/
.mypy_cache/

__pycache__/
*.py[cod]

.idea
.DS_Store
.AppleDouble
.LSOverride
.vscode

*.sublime-project
*.sublime-workspace

htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover

tmp*/
media/
static/
sent_emails/
posts/static/

db.sqlite3
