<div class="card">
    <div class="card-body">
        <div class="h2">
            {{ author_posts.get_full_name }}
        </div>
        <div class="h3 text-muted">
            @{{ author_posts.username }}
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="h6 text-muted">
                Подписчиков: {{ author_posts.following.count }} <br/>
                Подписан: {{ author_posts.follower.count }}
            </div>
        </li>
        <li class="list-group-item">
            <div class="h6 text-muted">
                Записей: {{ author_posts.posts.count }}
            </div>
        </li>
    {% if request.user.username  != author_posts.username %}
        <li class="list-group-item">
            {% if following %}
                <a class="btn btn-lg btn-light"
                   href="{% url 'posts:profile_unfollow' author_posts %}" role="button">
                    Отписаться
                </a>
            {% else %}
                <a class="btn btn-lg btn-primary"
                   href="{% url 'posts:profile_follow' author_posts %}" role="button">
                    Подписаться
                </a>
            {% endif %}
        </li>
    {% endif %}
    </ul>
</div>
